/*inicio do reset do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
/*fim do reset do site*/
body{
    background: black;
    font-family:'Arial Narrow';
    background-size: 100vw 100vh;
    font-size: 12px;
    font-family: 'Pangolin', cursive;
}
/*Se a tela tiver menos de 400px ela vai ficar de outra forma*/
@media (min-width: 350px){
    body{
        font-size: 17px;
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-subtitle{
    transform: scale(5) translateY(10vh);   
    opacity: 100;
    animation:ease 30s animaçaoSubtitulo forwards;
}

@keyframes animaçaoSubtitulo{
    70%{
        transform:translateY(8);
    }
    90%{
        transform:translateY(16);
        opacity:50;   
    }
    100%{
        transform: scale(0.01) translateY(-20vh);   
        opacity: 0;
    }
}

.site-title{
    transform: scale(10) translateY(40vh);   
    opacity: 100;
    animation: 42s ease 5s animaçaoTitulo forwards;
}

@keyframes animaçaoTitulo{
    100%{
        transform: scale(1) translateY(10vh);
    }
}


.menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    display: block;
    padding: 10px 20px;
    transition:background-color, color 500ms;
}
.menu a:active, 
.menu a:hover{
    background-color: teal;
    color:white;

}
 
a{
    text-decoration: none;
    color: teal;
}

.site-title, 
.site-subtitle{
    text-align: center;
    color: rgb(255, 153, 0);
    font-family: 'Nova Mono', monospace;
    line-height: 1.8em;
}

.site-title{
    font-size: 3em;
}

.site-subtitle{
    font-style: italic;
}

.img-portfolio{
    height: 180px;
    width: 100%;
    box-shadow: 0 0 20px 10px whitesmoke;
    margin: auto;
    object-fit: cover;
    border-radius:5%;
    transform:scale(1.06);
    transition: transform 500ms;
}

.sobre,
.contato,
.portfolio{
    padding: 1.05em;
    min-height: 100vh;
}

@media(min-width: 1200px){
    .container{
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sobre h2,
.contato h2,
.portfolio h2{
    color: whitesmoke;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    padding: 4px;
    display: flex;
    justify-content: center;

}

.sobre a{
    text-decoration: underline;
    color: cyan;
    transition:background, color 750ms;
}

.sobre a:hover {
    text-decoration: none;
    background-color: yellow; 
    color: black;
    border-radius: 3px;
}

.sobre .img-sobre {
    clip-path: polygon(69% 0, 100% 31%, 100% 100%, 31% 100%, 0 69%, 0 0);
    float: right;
    margin-left:2em;
}

.sobre p{
    font-size: 1.5em;
    color:whitesmoke;
    margin: 0 40px;
    text-align: justify;
}

.portfolio .grid{
    display:grid;
    grid-template-columns:300px;
    justify-content: center;
}

.portfolio figure{
    text-align: center;
}

@media (min-width: 700px) {
    .portfolio .grid{
        display:grid;
        grid-template-columns:repeat(2,300px);
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .portfolio .grid{
        display:grid;
        grid-template-columns: repeat(4, 300px);
        justify-content: center;
    }
}

.contato .grid-icons{
    text-align:center;
    text-justify: center;
}

.contato a{ 
    color:whitesmoke;
    font-size:4em;
    transition: text-shadow 800ms;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow:0 0 15px whitesmoke;
}

.flip-card{
    width:100%;
    height: 180px;
    transform: scale(0.7);
    perspective: 700px;
}

.card{
    position: relative;
    transform-style:preserve-3d;
    transition: transform 1.7s;
}

.flip-card:hover .card{
    transform: rotateY(540deg) rotateX(720deg);

}

.card-front,
.card-end{
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top:0;
}

.card-end{
    font-size: 2em;
    text-align: center;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT0jhCTk4HoKQ-6p_cZyfmzcZ45TgzJUL2o21UhsAvLTFTgXLP4&usqp=CAU');
    width:100%;
    height: 180px;
    border-radius:5%;
    transform: rotateY(180deg) scale(1.06);
    transition: transform rotateY 3s;
    display:flex;
    align-items: center;
    justify-content: center;
}
